In [8]:
import pandas as pd
import numpy as np

In [9]:
df1=pd.read_csv("student.csv")
df1.head()

        Name       Class
0       Maaz  4_Standard
1   Shahzaib  6_Standard
2  A. Baseer  1_Standard
3  M.Hussain  5_Standard
4    Ghufran  4_Standard

In [10]:
dict1={}
for i in df1.Class.unique():
    dict1[i]=str(i[2:])+"_"+str(i[0])

In [11]:
df1.Class=df1.Class.map(dict1, na_action=None)

In [12]:
def Convert(df1):
    grouped_df = df1.groupby('Class')
    names=[]
    dictionary={}
    for key, item in grouped_df:
        a=grouped_df.get_group(key)
        print(a.Class.tolist()[0])
        df_name=a.Class.tolist()[0]
        names.append(df_name)
    #     vars()[df_name]=pd.DataFrame(a)
        dictionary[df_name]=a
        with pd.ExcelWriter("/Users/mac/Desktop/Python Automation/Task/student -final sheet.xlsx") as writer:
            for i in dictionary.keys():

                dictionary[i].to_excel(writer, sheet_name=str(i), index=False)
Convert(df1)

Standard_1
Standard_2
Standard_3
Standard_4
Standard_5
Standard_6

<ipython-input-12-b2bda5f3f153>:12: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.7' currently installed).
  with pd.ExcelWriter("/Users/mac/Desktop/Python Automation/Task/student -final sheet.xlsx") as writer:

Standard_7
Standard_8
Standard_9